@model List<DomainModel.Joke>

<div id="AllJokesDiv">
<table  class="pageme">
    @foreach (var item in Model)
    {
        <tr>
        <td>
        <a href="#" onclick="loadMemberJokes(@item.Member.ID); return false;">
         <img alt="Press for more user jokes" src="http://graph.facebook.com/@item.Member.FBID/picture" width="30" height="30"/>
         </a></td>
            <td>
                <a href="#" onclick="loadMemberJokes(@item.Member.ID); return false;">@item.Member.Name</a> 
            </td>
            <td>
                @item.JokeText
            </td>
            <td>
            <input type="submit" id="increaseVote" value="+" onclick="increaseVotejoke(@item.ID);" />
            <input type="text" readonly="readonly" style="background-color:#77FFAA; border-color:#33BB66; text-align:center; width:30;" id="@string.Format("lblInc_{0}",item.ID)" value="@item.Good" />
            &nbsp;&nbsp;
            <input type="submit" id="decreaseVote" value="-"  onclick="decreaseVotejoke(@item.ID);"/>
            <input type="text" readonly="readonly"  style="background-color:#FF99AA; border-color:#CC4466; text-align:center; width:30" id="@string.Format("lblDec_{0}",item.ID)" value="@item.Bad" />
            &nbsp;&nbsp;
            Rank:  <input type="text" style=" text-align:center; width:30" readonly="readonly" id="@string.Format("lblRnk_{0}",item.ID)" value="@item.Rank" />

            &nbsp;&nbsp; &nbsp;&nbsp;
            <input type="submit" id="share" value="Share"  onclick="sharejoke('@item.JokeText','@item.Member.Name');"/>

 
            </td>
        </tr>
    }
</table>
</div>
<script type="text/javascript" language="javascript">
    function increaseVotejoke(jokeId) {
        $.post("/Joke/IncreaseJoke", { jokeID: jokeId }, function (data) {

            var ranks = data.split('_');
            $("#lblInc_" + jokeId).val(ranks[1]);
            $("#lblRnk_" + jokeId).val(ranks[0]);
        });
    }

    function decreaseVotejoke(jokeId) {
        $.post("/Joke/DecreaseJoke", { jokeID: jokeId }, function (data) {
            var ranks = data.split('_');
            $("#lblDec_" + jokeId).val(ranks[1]);
            $("#lblRnk_" + jokeId).val(ranks[0]);
        });
    }





    function sharejoke(jokeText, userName) {
        FB.api('/me', function (response) {
            var imageURL = 'http://mynokat-1.apphb.com/content/images/logo.jpg';
            var url = 'https://apps.facebook.com/mynokats';
            streamPublish(userName, jokeText, 'My Nokats', url, imageURL);
        });
    }

    function streamPublish(userName, description, hrefTitle, hrefLink, imageURL) {

        var attachment = { 'name': userName + ' shared this joke',
            'description': description,
            'media': [{ 'type': 'image', 'src': imageURL, 'href': hrefLink}],
            'href': hrefLink
        };

        FB.ui({
            method: 'stream.publish',
            message: 'I just found this Super Cool Website!',
            attachment: attachment,
            user_message_prompt: 'Post this to your wall?'
        }, function (responce) {
        });

    }

    function loadMemberJokes(memID) {
        $.post("/Joke/MemberIndexPartial", { MemberID: memID }, function (data) {
            $('#detailedJokesDiv').html(data);
        });
    }
</script>

200 char
text box design
3660 grid
unit tesr