@model List<DomainModel.Joke>
@Html.ActionLink("Go to all Nokats", "Index", "Joke");
<div id="AllJokesDiv">
<table>
    @foreach (var item in Model)
    {
        <tr>
        <td><img src="http://graph.facebook.com/@item.Member.FBID/picture" width="60" height="60"></td>
            <td>
                @item.Member.Name
            </td>
            <td>
                @item.JokeText
            </td>
            <td>
            <input type="submit" id="increaseVote" value="+" onclick="increaseVotejoke(@item.ID);" />
            
            <input type="text" readonly="readonly" id="@string.Format("lblInc_{0}",item.ID)" value="@item.Good" />
            <input type="submit" id="decreaseVote" value="-"  onclick="decreaseVotejoke(@item.ID);"/>
            <input type="text" readonly="readonly" id="@string.Format("lblDec_{0}",item.ID)" value="@item.Bad" />

            <input type="submit" id="share" value="Share"  onclick="sharejoke('@item.JokeText','@item.Member.Name');"/>

            <input type="text" readonly="readonly" id="@string.Format("lblRnk_{0}",item.ID)" value="@item.Rank" />
            </td>
        </tr>
    }
</table>
</div>
<script type="text/javascript" language="javascript">
    function increaseVotejoke(jokeId) {
        $.post("/Joke/IncreaseJoke", { jokeID: jokeId }, function (data) {

            var ranks = data.split('_');
            $("#lblInc_" + jokeId).val(ranks[1]);
            $("#lblRnk_" + jokeId).val(ranks[0]);
        });
    }

    function decreaseVotejoke(jokeId) {
        $.post("/Joke/DecreaseJoke", { jokeID: jokeId }, function (data) {
            var ranks = data.split('_');
            $("#lblDec_" + jokeId).val(ranks[1]);
            $("#lblRnk_" + jokeId).val(ranks[0]);
        });
    }





    function sharejoke(jokeText, userName) {
        FB.api('/me', function (response) {
            var imageURL = 'http://mynokat-1.apphb.com/content/images/logo.jpg';
            var url = 'https://apps.facebook.com/mynokats';
            streamPublish(userName, jokeText, 'My Nokats', url, imageURL);
        });
    }

    function streamPublish(userName, description, hrefTitle, hrefLink, imageURL) {

        var attachment = { 'name': userName + ' shared this joke',
            'description': description,
            'media': [{ 'type': 'image', 'src': imageURL, 'href': hrefLink}],
            'href': hrefLink
        };

        FB.ui({
            method: 'stream.publish',
            message: 'I just found this Super Cool Website!',
            attachment: attachment,
            user_message_prompt: 'Post this to your wall?'
        }, function (responce) {
        });

    }

   
</script>